<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092731321082-v29n5p4fnjpss0qn41jhj8g56vhhdba2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092731321082-v29n5p4fnjpss0qn41jhj8g56vhhdba2</string>
	<key>API_KEY</key>
	<string>AIzaSyAnhKVr-C0zXzQ5ypnT8-6r---iyq7K65c</string>
	<key>GCM_SENDER_ID</key>
	<string>1092731321082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.darkce.checklist</string>
	<key>PROJECT_ID</key>
	<string>private-space-1659c</string>
	<key>STORAGE_BUCKET</key>
	<string>private-space-1659c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092731321082:ios:433ad2426d04dd6d3c2743</string>
</dict>
</plist>