<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303857027684-p98v23j4vate309eo82bt7io83e9r6ms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303857027684-p98v23j4vate309eo82bt7io83e9r6ms</string>
	<key>API_KEY</key>
	<string>AIzaSyD2nqTp3f_lgKmln7YgIqfZpOveO31MDTY</string>
	<key>GCM_SENDER_ID</key>
	<string>303857027684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.darkce.checklist</string>
	<key>PROJECT_ID</key>
	<string>daily-todo-1823c</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-todo-1823c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303857027684:ios:136bfd18a5d12f78f06d71</string>
</dict>
</plist>